@charset "UTF-8";
html {
    width: 100vw;
    font-size: medium;
}

body {
    background-image: url("../images/pastel_00027.jpg");
    background-size: cover;
}

header {
    text-align: center;
}
    
.icon {
    width: 50%;
    max-width: 240px;
    margin: auto;
    display: block;
    border-radius: 50%;
}

#main {
    padding-left: 5px;
    padding-right: 5px;
}

section {
    border-style: none none solid none;
    border-color: palevioletred;
}

table {
    border-color: palevioletred;
    border-style: solid;
    border-collapse: collapse;
    margin-bottom: 16px;
}

th,
td {
    border-color: palevioletred;
    border-style: solid;
}

#qrcodes {
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.qr {
    width: 120px;
    height: auto;
    display: block;
}

footer {
    color: palevioletred;
    margin-top: 100px;
}
