@charset "UTF-8";
html {
    width: 100vw;
    font-size: medium;
}

body {
    background-image: linear-gradient(to bottom, lavenderblush, hotpink);
    padding-left: 5%;
        padding-right: 5%;
    }
    
    img {
        width: 50%;
        max-width: 240px;
        display: block;
}

section {
    border-style: none none solid none;
    border-color: hotpink;
}

table {
    border-color: hotpink;
    border-style: solid;
    margin-bottom: 16px;
}

th,
td {
    border-color: hotpink;
    border-style: solid;
}

footer {
    color: white;
    margin-top: 100px;
}
